<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Poker/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,120},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,240},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,360},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,480},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,720},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,840},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,0},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,0},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,0},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,0},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,0},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,0},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,0},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/26.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,86},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/27.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,86},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/28.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,86},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/29.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,86},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/30.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,86},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/31.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,86},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/32.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,86},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/33.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,120},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/34.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,172},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/35.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,172},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/36.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,172},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/37.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,172},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/38.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,172},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/39.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,172},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,172},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/40.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,240},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/41.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,360},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/42.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,258},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/43.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,480},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/44.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,600},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/45.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,720},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/46.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,840},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/47.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,344},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/48.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,258},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/49.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,344},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,258},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/50.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,258},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/51.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,258},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/52.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,258},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/53.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,258},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/54.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,344},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/55.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,344},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,344},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,344},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,360},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,430},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/poker_cover.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,464},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Poker.png</string>
			<key>realTextureFileName</key>
			<string>Poker.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>